body {
    margin: 0;
    line-height: 1.4;
    font-family: "Source Sans Pro", sans-serif;
}

.header-aglae {
    background-color: grey;
    padding: 20px;
    color: #ffffff;
}

.header-menu-aglae {
    margin: 20px 0;
    text-align: center;
}

.header-menu-aglae a {
    padding: 0 10px;
    color: inherit;
    text-decoration: none;
}

.header-menu-aglae a:hover {
    text-decoration: underline;
}

.header-aglae .img-logo {
    width: 25%;
}

.header-aglae .img-bg {
    width: 100%;
    height: auto;
}

.header-title {
    margin-top: 0;
    font-style: italic;
}

.word-title-description {
    font-weight: lighter;
    text-transform: uppercase;
}

.main-aglae {
    background-color: lightgray;
    padding: 20px;
}

.main-aglae p {
    text-align: justify;
}

.footer-aglae {
    background-color: grey;
    padding: 10px 20px;
}