html body {
    font-size: 16px;
}

body {
    margin: 0;
    line-height: 1.4;
    letter-spacing: 0.2;
    font-family: "Source Sans Pro", sans-serif;
}

.header-aglae {
    /* background-color: grey; */
    padding: 20px;
    height: auto;
    color: #00000;
}

.header-title {
    position: absolute;
    top: 0;
    left: 20%;
    right: 0;
    bottom: 0;
    font-style: italic;
}

.header-title-description {
    position: relative;
    left: 100px;
    right: 0;
    bottom: 10px;
    font-weight: lighter;
    text-transform: uppercase;
}

.header-aglae .img-logo {
    position: absolute;
    width: 25%;
    margin: -20px;
}

.header-aglae .img-bg {
    width: 100%;
    height: auto;
}

.header-menu-aglae {
    position: relative;
    top: 20px;
    text-align: right;
}

.header-menu-aglae a {
    padding: 0 10px;
    color: #ffffff;
    text-decoration: none;
    background-color: darkslategray;
}

.header-menu-aglae a:hover {
    background-color: lightslategray;
    color:inherit;
}

.menu-selected {
    color:inherit;
}

.main-aglae {
    background-color: lightgray;
    padding: 20px;
}

.main-aglae p {
    text-align: justify;
}

.footer-aglae {
    background-color: grey;
    padding: 10px 20px;
}