<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Aglae Exportations de documents</title>
        <meta name="description" content="Description du site">
        <meta name="keywords" content="Comptabilité,Finance,Gestion,Rapports">
    </head>
    <body>
        <nav class="block-menu-aglae">
            <!-- <h2>Menu</h2> -->
            <ul>
                <li> <a href="sorties.html" title="Sorties">Dépenses</a> </li>
                <li> <a href="entrees.html" title="Entrées">Entrées</a> </li>
                <li> <a href="publications.html" title="Publications">Publications</a> </li>
                <li> Exportations </li>
                <li> <a href="index.html" title="Accueil">Retour à la page d'accueil</a> </li>
            </ul>
        </nav>
        <div class="block-header-aglae">
            <img src="../pictures/Logo_Aglae_364.png" alt="Logo Aglae">
            <h1>AGLAE</h1>
            <span class="word-title-description">
                Association des étudiants de grec, latin et 
                histoire ancienne de l'université de Genève
            </span>
        </div>
        </div class="block-body-aglae">        
            <h1>Exportation des documents financiers de l'association.</h1>
        </div>
    </body>
</html>