<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Aglae Page d'accueil</title>
        <meta name="description" content="Description du site">
        <meta name="keywords" content="Comptabilité,Finance,Gestion,Rapports">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <nav class="block-menu-aglae">
            <!-- <h2>Menu</h2> -->
            <ul>
                <li> <a href="sorties.html" title="Dépenses">Dépenses</a> </li>
                <li> <a href="entrees.html" title="Entrées">Entrées</a> </li>
                <li> <a href="publications.html" title="Publications">Publications</a> </li>
                <li> <a href="exportations.html" title="Exportations">Exportations</a> </li>           
            </ul>
        </nav>
        <div class="block-header-aglae">
            <img class="img-logo" src="../pictures/Logo_Aglae_364.png" alt="Logo Aglae">
            <img class="img-bg" src="../pictures/gestion_financiere.png" width="1904" height="250" alt="Images argent Suisse flouté">
            <div classe="title-general">
                <h1 >AGLAE</h1>
                <span class="word-title-description">
                    Association des étudiants de grec, latin et 
                    histoire ancienne de l'université de Genève
                </span>
            </div>
        </div>
        <div class="block-body-aglae">
            <h1>Gestion des comptes et rapports de l'association.</h1>
        </div>
    </body>
</html>
