<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Aglae Sorties d'argent</title>
        <meta name="description" content="Description du site">
        <meta name="keywords" content="Comptabilité,Finance,Gestion,Rapports">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="icon" href="../pictures/favicon.ico" type="image/x-icon" />
    </head>
    <body>
        <header class="header-aglae">
            <div classe="title-general">
                <h1 class="header-title">AGLAE</h1>
                <span class="word-title-description">
                    Association des étudiants de grec, latin et 
                    histoire ancienne de l'université de Genève
                </span>
            </div>
            <nav class="header-menu-aglae">
                Dépenses 
                 <a href="entrees.html" title="Entrées">Entrées</a> 
                 <a href="publications.html" title="Publications">Publications</a> 
                 <a href="exportations.html" title="Exportations">Exportations</a> 
                 <a href="index.html" title="Acceuil">Retour à la page d'accueil</a> 
                </nav>
            <img class="img-logo" src="../pictures/Logo_Aglae_364.png" alt="Logo Aglae">
            <img class="img-bg" src="../pictures/paiements.png" width="1904" height="250" alt="image paiement qui représente une personne faisant la comptabilité.">
        </header>
        <article class="main-aglae">        
            <h1>Sorties d'argent de l'association.</h1>
            <form action="entrees.html">
                <fieldset>
                    <legend>Écriture</legend>
                    <div>
                        <label for="date">Date:</label>
                        <input type="date" id="date" name="entree-date" required>
                        <label for="libelle">Libellé:</label>
                        <input type="text" id="libelle" required>
                        <label for="amount">Montant:</label>
                        <input type="text" id="amount" placeholder="00.00" required>CHF
                    </div>
                    <div>
                        <label for="notes">Notes:</label>
                        <textarea name="notes" id="notes" cols="86" rows="10" placeholder="Insérer vos notes ici."></textarea>
                    </div>
                    <div>
                        <label for="file-input">Insérer un fichier:</label>
                        <input type="file" id="file-input">
                    </div>
                    <div>
                        <input type="submit" value="Ajouter">
                        <input type="reset" value="Annuler">
                    </div>
                </fieldset>
            </form>
        </article>
        <footer class="footer-aglae">
            <header class="header-uni">
                Université de Genève
            </header>
            <article class="main-uni">
                24 rue du Général-Dufour<br>
                1211 Genève 4<br>
                T. +41 (0)22 379 71 11<br>
                F. +41 (0)22 379 11 34<br>
            </article>
        </footer>
    </body>
</html>