{% extends 'base.html.twig' %}

{% block title %}
	Aglae - page d'accueil
{% endblock %}

{% block body_header_top %}
	<div classe="header-title-general">
		<h1 class="header-title">AGLAE</h1>
		<span class="header-title-description">
			Association des étudiants de grec, latin et 
			                    histoire ancienne de l'université de Genève
		</span>
		{{ dump([
                    asset('images/Logo_Aglae_364.png'),
                    asset('images/gestion_financiere.png'),
                ]) }}
		<img class="img-logo" src="{{ asset('images/Logo_Aglae_364.png') }}" alt="Logo Aglae">s
		<img class="img-bg" src="{{ asset('images/gestion_financiere.png') }}" width="1904" height="250" alt="Images argent Suisse flouté">

	</div>
{% endblock %}

{% block body_menu %}{% endblock %}

{% block body_header_botom %}{% endblock %}

{% block body_content %}
	<h1>{{title}}</h1>

	In progress ...
{% endblock %}
